body {
    background-color: #78DFEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.title {
    height: 100px;
    margin: 20px;
    width: 50vw;
}

.title h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lobster', sans-serif;
    letter-spacing: 1px;
    border: 5px solid;
    border-radius: 30px;
    padding: 20px;
}

/** Quiz Area **/

.quiz-area {
    width: 70vw;
    aspect-ratio : 8 / 5;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}