body {
    font-family: 'Roboto', 'Sans Serif';
    background-color: #5BAAB3;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.title {
    height: 100px;
    margin: 20px;
    width: 50vw;
}

.title h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lobster', sans-serif;
    letter-spacing: 1px;
    border: 5px solid;
    border-radius: 30px;
    padding: 20px;
}

/** Quiz Area **/

.quiz-area {
    width: 70vw;
    aspect-ratio : 8 / 4;
    background-color: #667173;
    border-radius: 10px;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quiz-block {
    width: 90%;
    height: 50%;
    margin: 5% 5% 0 5%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #667173;
}

.question-box {
    width: 75%;
    height: 100%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

.results-box {
    width: 20%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #667173;
}

.score-box {
    width: 90%;
    height: 40%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: antiquewhite;
}

.score-box h3 {
    font-family: 'Lobster', sans-serif;
    letter-spacing: 1px;
    margin: 0;
}

.score-box p {
    font-size: 25px;
    font-weight: bold;
    margin: 0 5px 0 5px;
}

.question-count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-block {
    width: 90%;
    height: 25%;
    margin: 5%;
    background-color: #667173;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.answer {
    width: 30%;
    height: 100%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer h2 {
    font-family: 'Lobster', sans-serif;
    font-weight: bold;
}

.answer p {
    font-size: 1em;
    font-weight: bold;

}

.overlay {
    height: 75vh;
    width: 90vw;
    margin: 12% 5% 5%;
    border-radius: 20px;
    border: 5px solid black;
    background-color: #889699;
    position: absolute;
    z-index: 3;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 10px 10px 5px 5px grey;
}

.overlay h1 {
    font-size: 3rem;
    text-align: center;
}

.overlay p {
    font-size: 2rem;
    padding: 15px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    text-align: center;
}

.overlay h3 {
    font-size: 2.5rem;
    width: 80%;
    padding: 20px;
    margin: 10px;
    background-color: antiquewhite;
    border-radius: 20px;
    text-align: center;
}

.quiz-buttons {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-top: 5%;
}

.quiz-buttons button {
    width: 20%;
    min-height: 30%;
    margin: 5px;
    border-radius: 10px;
    background-color: antiquewhite;
    box-shadow: 5px 5px grey;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#closeOverlay {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
}

@media screen and (max-width:1500px) {

    .title {
        width: 80vw;
        margin: 10px;
    }

    .title h1 {
        font-size: 40px;

    }

    .quiz-area {
        width: 90vw;
        margin-top: 2.5rem;
    }

    .overlay {
        margin: 15% 5% 5%;
    }

}

@media screen and (max-width:1000px) {

    .quiz-area {
        height: 75vh;
        align-items: center;
    }

    .quiz-block {
        flex-direction: column-reverse;
    }

    .results-box {
        flex-direction: row;
        width: 100%;
        height: 40%;
    }

    .score-box {
        height: 80%;
        width: 45%;
    }

    .question-box{
        width: 100%;
    }

    .answer-block {
        width: 90%;
        height: 35%;
        margin: 5%;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }

    .answer {
        width: 100%;
        height: 33%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 10px 0;
    }

    .answer h2 {
        padding: 0 20px;
    }

    .overlay {
        margin: 25% 5% 0 5%;
    }
}

@media screen and (max-width:600px) {

    .title {
        width: 90vw;
    }

    .title h1 {
        font-size: 30px;
    }

    .quiz-area {
        width: 95vw;
    }

    .question {
        font-size: 2em;
    }

    .answer-block {
        height: 45%;
    }

    .answer {
        height: 25%;
        margin: 0;
    }

    .overlay {
        margin: 35% 2.5% 0 2.5%;
        justify-content: space-around;
    }

    .overlay h1 {
        font-size: 2rem;
        margin: 0;
    }

    .overlay p {
        font-size: 1rem;
    }

    .overlay h3 {
        font-size: 1.5rem;
    }

    .quiz-buttons {
        height: 40%;
    }

    .quiz-buttons button {
        width: 40%;
        min-height: 20%;
        margin: 5px;
        font-size: 16px;
    }

}

@media screen and (max-width:400px) {

    .question {
        font-size: 1.5em;
    }

    .results-box {
        height: 30%;
    }

    .score-box {
        height: 70%;
        padding: 5px;
    }

    .score-box h3 {
        font-size: 1em;
    }

    .score-box h2 {
        font-size: 1.25em;
        margin-top: 5px;
    }

    .score-box p {
        font-size: 1em;
    }

    .overlay h3 {
        padding: 10px;
    }

    .quiz-buttons button {
        min-height: 15%;
        font-size: 14px;
    }

}
