body {
    background-color: #78DFEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.title {
    height: 100px;
    margin: 20px;
    width: 50vw;
}

.title h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lobster', sans-serif;
    letter-spacing: 1px;
    border: 5px solid;
    border-radius: 30px;
    padding: 20px;
}

/** Quiz Area **/

.quiz-area {
    width: 70vw;
    aspect-ratio : 8 / 5;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quiz-block {
    width: 90%;
    height: 50%;
    margin: 5% 5% 0 5%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
}

.question-box {
    width: 75%;
    height: 100%;
    border-radius: 20px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

.results-box {
    width: 20%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
}

.score-box {
    width: 90%;
    height: 40%;
    border: 2px solid black;
    border-radius: 20px;
}

.score-box h3 {
    font-family: 'Lobster', sans-serif;
    letter-spacing: 1px;
}

.answer-block {
    width: 90%;
    height: 25%;
    margin: 5%;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.answer {
    width: 30%;
    height: 100%;
    border-radius: 20px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer h2 {
    font-family: 'Lobster', sans-serif;
    font-weight: bold;
}

.answer p {
    font-size: 1em;
    font-weight: bold;

}